---
import BaseLayout from "../layouts/BaseLayout.astro";
import FreeCourseSection from "../components/FreeCourseSection.astro";
---

<BaseLayout title="Curso Gratuito">
    <main>
        <p>Desde free-course</p>
        <FreeCourseSection />
    </main>
</BaseLayout>
