---
import BaseLayout from "../layouts/BaseLayout.astro";
import { HeroSection } from "../components/react/HeroSection.jsx";
// const carrouselImages = await Astro.glob("/src/assets/img/carrousel/*.{jpg,jpeg,png}");
const dataImages = await Astro.glob("/src/scripts/helpers/carrouselData.js");
const { carrouselImages } = dataImages[0];
console.log(carrouselImages);
---

<BaseLayout title="Inicio">
	<main>
		<HeroSection carrouselImages={carrouselImages} client:visible />
	</main>
</BaseLayout>
