---
import BaseLayout from "../layouts/BaseLayout.astro";
import { HeroSection } from "../components/react/HeroSection.jsx";
import OurGoalSection from "../components/OurGoalSection.astro";
import DiscoverSection from "../components/DiscoverSection.astro";
import PricingSection from "../components/PricingSection.astro";
import PathsSection from "../components/PathsSection.astro";
import FAQsSection from "../components/FAQsSection.astro";
import { TestimonialsSection } from "../components/react/TestimonialSection.jsx";
const carrouselImages = await Astro.glob(
  "/src/assets/img/carrousel/*.{jpg,jpeg,png}"
).then((files) => files.map((file) => file.default));
---

<BaseLayout title="Inicio">
  <main>
    <HeroSection carrouselImages={carrouselImages} client:visible />
    <OurGoalSection />
    <DiscoverSection />
    <PathsSection />
    <PricingSection />
    <TestimonialsSection client:visible />
    <FAQsSection />
  </main>
</BaseLayout>
