---
import BaseLayout from "../layouts/BaseLayout.astro";
import { HeroSection } from "../components/react/HeroSection.jsx";
// const carrouselImages = await Astro.glob("../assets/img/carrousel/*.{jpg,jpeg,png")
import { carrouselImages } from "../scripts/helpers/carrouselData.js";
---

<BaseLayout title="Inicio">
	<main>
		<HeroSection carrouselImages={carrouselImages} client:visible />
	</main>
</BaseLayout>
