---
import BaseLayout from "../layouts/BaseLayout.astro";
import { HeroSection } from "../components/react/HeroSection.jsx";
const carrouselImages = await Astro.glob(
	"/src/assets/img/carrousel/*.{jpg,jpeg,png}",
).then((files) => files.map((file) => file.default));
console.log(carrouselImages);
---

<BaseLayout title="Inicio">
	<main>
		<HeroSection carrouselImages={carrouselImages} client:visible />
	</main>
</BaseLayout>
