---
import { Link } from "@nextui-org/react";
import GiftImg from "../assets/img/giveaway.svg";
---

<section class="px-8 py-20 sm:px-24 lg:px-32 flex flex-col">
  <h2
    class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white text-center"
  >
    ¡Descubre el Ajedrez Hoy!
  </h2>
  <div
    class="flex flex-col gap-4 md:flex-row md:items-center sm:items-center mb-8 xl:max-w-[1024px] xl:mx-auto"
  >
    <div class="md:text-lg">
      <p>¿Eres nuevo en el mundo del ajedrez?</p>
      <p>
        ¡Bienvenido! En nuestra academia, te ofrecemos un curso creado
        especialmente para ti, <strong>totalmente gratuito</strong>. Aprende las
        reglas básicas, estrategias fundamentales y comienza tu viaje hacia la
        maestría ajedrecística de manera divertida y educativa.
      </p>
    </div>

    <div class="sm:max-w-[450px]">
      <img
        class="mx-auto block"
        src={GiftImg.src}
        alt="Una joven contenta sobre una caja de regalo gigante"
      />
    </div>
  </div>
  <Link
    className="self-center flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-[#ff8c00c2] border border-transparent rounded-md hover:bg-[#ff8c00e8] active:bg-[#ff8c00c2] focus:outline-none focus:shadow-outline "
    href="/free-course/"
    client:load
  >
    Comenzar Curso Gratuito
  </Link>
</section>
