---
import GiftImage from "../assets/img/special-offers.svg";
---

<section class="px-8 py-20 sm:px-24 lg:px-32 flex flex-col bg-[#ff8c00c2]">
  <h1 class="text-4xl text-center mb-10 md:mb-16 font-bold capitalize">
    ¡Disfruta tu regalo!
  </h1>
  <div
    class="flex flex-col gap-4 md:flex-row md:items-center sm:items-center mb-8 xl:max-w-[1024px] xl:mx-auto"
  >
    <div class="md:text-lg md:w-1/2">
      <p>
        Sumérgete en nuestros cursos gratuitos y comienza tu viaje hacia la
        maestría ajedrecística con la guía de la WGM Claudia Amura, una experta
        reconocida a nivel internacional.
      </p>
    </div>

    <img
      class="mx-auto block object-cover md:w-1/2"
      src={GiftImage.src}
      alt="Una joven contenta sobre una caja de regalo gigante"
    />
  </div>
</section>
