---
import { FAQs } from "./react/FAQs";
---

<section
  id="faq"
  class="dark:bg-gray-800 bg-[#ff8c00c2] bg-white overflow-hidden"
>
  <div
    class="text-center w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20 relative overflow-hidden md:min-h-[350px]"
  >
    <h2
      class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      <span class="block mb-2"> Preguntas Frecuentes </span>
      <span class="block text-white">
        Hoy es el mejor momento para empezar
      </span>
    </h2>

    <div class="flex flex-col justify-start max-w-screen-lg mx-auto gap-10">
      <FAQs client:visible />
      <p
        class="sm:text-xl sm:font-light mt-4 max-w-sm lg:max-w-md mx-auto text-gray-700 w-2/3"
      >
        Si tu pregunta no ha sido respondida aquí y deseas obtener más
        información, no dudes en ponerte en contacto con nosotros.
      </p>
    </div>
  </div>
</section>
