---
import LogoPlaceHolder from "../assets/img/LogoPlaceHolder.svg";
---

<footer class="bg-slate-100 py-5 text-sm">
    <div
        class="grid grid-cols-2 md:grid-cols-3 md:container md:mx-auto lg:max-w-[1024px] justify-items-center gap-y-4 mb-4"
    >
        <div class="self-center">
            <img
                class="w-32 md:w-40"
                src={LogoPlaceHolder.src}
                alt="placeholder logo"
            />
        </div>
        <div>
            <ul class="text-lg sm:text-base text-center">
                <li>
                    <a class="hover:underline" href="/">Inicio</a>
                </li>
                <li>
                    <a class="hover:underline" href="/academy/">Academia</a>
                </li>
                <li>
                    <a class="hover:underline" href="/teachers/">Maestros</a>
                </li>
                <li>
                    <a class="hover:underline" href="/#pricing">Precios</a>
                </li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 text-center">
            <p class="md:text-base">Trabaja con nosotros!</p>
            <p>Contacto: example@example.com</p>
        </div>
    </div>
    <div>
        <hr />
        <p class="text-center mt-4 text-xs">
            Copyright &copy; 2024 ChessAcademy
        </p>
    </div>
</footer>
