---

---

<section class="container mx-auto">
    <div class="flex flex-col items-center">
        <h2>Curso Básico</h2>
        <div class="w-full">
            <iframe
                class="aspect-video w-full"
                src="https://www.youtube.com/embed/videoseries?si=bHab7iRdOmI7EIP8&list=PLyOF_3OuFCs4CLi4aXZ_wD2qzb2VVMoBO"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</section>
