---
import { Link } from "@nextui-org/react";
---

<section id="announcement" class="dark:bg-gray-800 bg-white">
  <div
    class="text-center w-full mx-auto py-12 px-4 sm:px-6 lg:py-20 lg:px-8 z-20 relative overflow-hidden md:min-h-[350px]"
  >
    <h2
      class="mb-8 tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      <span class="block mb-6 text-4xl lg:text-5xl"
        >¡Inscripciones abiertas!</span
      >
      <span class="block text-3xl lg:text-4xl text-[#ff8c00c2]"
        >Las clases comienzan el día 8 de Julio de 2024.</span
      >
    </h2>

    <div class="flex flex-col max-w-screen-lg mx-auto gap-8">
      <p
        class="sm:text-xl text-lg mt-4 max-w-sm lg:max-w-md mx-auto text-gray-700"
      >
        Y vos ¿Aún no te inscribiste?
      </p>

      <Link
        className="self-center flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-[#ff8c00c2] border border-transparent rounded-md hover:bg-[#ff8c00e8] active:bg-[#ff8c00c2] focus:outline-none focus:shadow-outline "
        href="/#academy"
        client:load
      >
        ¡Te estamos esperando!
      </Link>
    </div>
  </div>
</section>
