---
import { FaQuoteLeft, FaQuoteRight } from "react-icons/fa6";
import KingQueenImg from "../assets/img/king-queen.svg";
---

<section>
  <div class="bg-[#ff8c00c2] lg:bg-inherit">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div
        class="relative pt-20 px-8 sm:px-24 md:px-32 lg:order-1 lg:pb-20 lg:px-24"
      >
        <div class="absolute text-5xl top-5 left-10 md:text-6xl">
          <FaQuoteLeft />
        </div>
        <div
          class="absolute text-5xl -bottom-14 right-10 md:text-6xl lg:bottom-5"
        >
          <FaQuoteRight />
        </div>
        <h2
          class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white text-center"
        >
          Nuestro Objetivo
        </h2>
        <div class="flex flex-col gap-2 text-base md:text-lg lg:order-2">
          <p class="text-justify">
            Somos una comunidad acogedora y abierta para <strong>todos</strong>:
            principiantes, aficionados, ajedrecistas experimentados, personas
            talentosas con grandes aspiraciones y aquellos que aún no descubren
            la emoción del ajedrez.
          </p>
          <p class="text-justify">
            Contamos con un equipo de Maestros de reconocida trayectoria
            internacional que te brindan un servicio único, lleno de
            conocimiento, pasión por el ajedrez y la educación.
          </p>
          <p class="text-justify">
            <strong
              >Nuestro principal objetivo es acompañarte en la realización de
              tus metas, transmitiendo valores y atendiendo tus necesidades de
              manera personalizada.</strong
            >
          </p>
          <p class="text-justify">
            Ya sea que sueñes con alcanzar la maestría en ajedrez o simplemente
            ampliar tus conocimientos en diferentes áreas, estaremos contigo en
            cada paso del camino. Nuestra Academia se compromete a desarrollar y
            potenciar tus habilidades a través de la práctica del ajedrez,
            acompañándote en cada etapa de tu vida y formando profesionales en
            este deporte, incluyendo árbitros, entrenadores, docentes de
            ajedrez, entre otros, con un enfoque integral en la ética deportiva
            y el uso de diversas herramientas pedagógicas.
          </p>
          <p class="text-justify">
            ¡Conéctate con nosotros desde cualquier parte del mundo y comienza
            tu viaje hacia la maestría ajedrecística hoy mismo!
          </p>
        </div>
      </div>
      <div class="flex justify-center bg-inherit lg:bg-[#ff8c00c2]">
        <img
          class="w-full sm:w-auto"
          src={KingQueenImg.src}
          alt="Un rey blanco y una dama negra jugando en un subibaja"
        />
      </div>
    </div>
  </div>
</section>
