---
import PriceCard from "./PriceCard.astro";
---

<section id="pricing" class="px-8 py-20 sm:px-24 lg:px-32 flex flex-col">
  <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Planes a Tu Medida
    </h2>
    <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Todos nuestros planes son independientes del <em>camino</em> que elijas y del
      nivel que tengas, por lo tanto, puedes seleccionar el que mejor se adapte a
      tus necesidades y preferencias.
    </p>
  </div>

  <div class="flex flex-wrap flex-col md:flex-row gap-4 justify-center">
    <PriceCard
      title="Básico"
      price={50}
      characteristics={[
        "Una clase grupal por semana",
        "Participación en un evento online mensual",
        "Acceso a los materiales de estudio",
        "Mini-clase de posicionamiento de nivel. (Única vez)",
      ]}
    />
    <PriceCard
      title="Intermedio"
      price={75}
      characteristics={[
        'Todo del plan "Básico" salvo superposiciones',
        "Dos clases grupales por semana",
        "Participación en todos los eventos online",
      ]}
    />
    <PriceCard
      title="Premium"
      price={100}
      characteristics={[
        'Todo del plan "Intermedio" salvo superposiciones',
        "Una clase privada con elección de profesor",
        "Descuentos en Eventos Presenciales",
      ]}
    />
  </div>
  <p class="text-center mt-8">
    Todos los precios son en $USD. Si eres residente de Argentina puedes
    consultar por tarifas especiales.
  </p>
</section>
