---
import { MainNavigation } from "../components/react/MainNavigation.jsx";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title} | Academia de Ajedrez</title>
  </head>
  <body>
    <MainNavigation client:load />
    <slot />
    <Footer />
  </body>
</html>
