---
import { MainNavigation } from "../components/react/MainNavigation.jsx";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Academia de Ajedrez</title>
    </head>
    <body>
        <MainNavigation client:load />
        <h1>{title} | Academia de Ajedrez</h1>
        <slot />
        <Footer />
    </body>
</html>
